/.idea
/.vscode

/img_data/images/
/img_data/thumb/
/img_data/icon/
/img_data/_thumbs/
/img_data/upload-lien-he/
/img_data/erp/
/img_data/img_baogia/
/cache/
/code/
admin/lib/config.php
admin/assets/GeoLite2-City.mmdb
/smtp/token.json
test.php
/tmp/html/*
/tmp/thumb/*
/vendor
1.php
.env
.env.backup
*.data

.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml

node_modules
*.zip
composer.lock

npm-debug.log
yarn-error.log

robots.txt
images-log.txt

/img_data1
/admin/lib/**/*.txt
wiqeuisnnnwe.sadfin.vth